{% extends "base.html" %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-md-7 col-lg-5">
    <div class="card card-soft">
      <div class="card-body">
        <h5 class="card-title mb-3">Cambiar contraseña</h5>
        <form method="post" class="row g-2">
          <div class="col-12">
            <label class="form-label">Contraseña actual</label>
            <input class="form-control" type="password" name="current" required>
          </div>
          <div class="col-12">
            <label class="form-label">Nueva contraseña</label>
            <input class="form-control" type="password" name="new" required>
          </div>
          <div class="col-12">
            <label class="form-label">Confirmar nueva contraseña</label>
            <input class="form-control" type="password" name="confirm" required>
          </div>
          <div class="col-12 mt-2 d-flex gap-2">
            <button class="btn btn-primary">Guardar</button>
            <a class="btn btn-outline-light" href="{{ url_for('index') }}">Cancelar</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
